.intro {
    margin: 0;
    max-width: 54%;
    box-sizing: border-box;
    position: relative;
    left: 148px;
    right: 442px;
}

@media screen and (max-width: 1024px) {
    .intro {
        max-width: 67%;
        left: 48px;
        right: 286px;
    }   
}

@media screen and (max-width: 768px) {
    .intro {
        max-width: 100%;
        margin: 0 auto;
        max-width: 720px;
        position: static;
    }  
}

@media screen and (max-width: 320px) {
    .intro {
        max-width: 100%;
        margin: 0 auto;
        max-width: 288px;
        position: static;

    }  
}