.place {
    margin: 0 auto;
    width: 984px;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 200px 145px;
    grid-template-columns: auto auto;
    gap: 0 40px;
}


.place:nth-child(2) {
    grid-template-rows: 124px 116px;
}

.place:nth-child(3) {
    grid-template-rows: 124px 174px;
}

.place:nth-child(4) {
    grid-template-rows: 200px 116px;
}

.place:nth-child(5) {
    grid-template-rows: 124px 145px;
}

@media screen and (max-width: 1024px) {
    .place {
        width: 928px;
        grid-template-rows: auto 174px;
        gap: 0 32px;
    }
    
    .place:nth-child(2) {
        grid-template-rows: 124px 116px;
    }
    
    .place:nth-child(3) {
        grid-template-rows: 124px 203px;
    }
    
    .place:nth-child(4) {
        grid-template-rows: 200px 116px;
    }

    .place:nth-child(5) {
        grid-template-rows: 124px 174px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        width: 720px;
        grid-template-rows: 140px 182px;
        gap: 0 28px;
    }

    .place:nth-child(2) {
        grid-template-rows: 94px 130px;
    }
    
    .place:nth-child(3) {
        grid-template-rows: 94px 182px;
    }
    
    .place:nth-child(4) {
        grid-template-rows: 94px 104px;
    }

    .place:nth-child(5) {
        grid-template-rows: 94px 182px;
    }
}

@media screen and (max-width: 320px) {
    .place {
        width: 320px;
        display: flex;
        flex-direction: column;
    }
}