.place__website {
    padding-bottom: 48px;
    width: 456px;
    height: 46px;
    place-self: end start;
}

@media screen and (max-width: 768px) {
    .place__website {
        width: 325px;
        height: 46px;
    }
}

@media screen and (max-width: 320px) {
    .place__website {
        padding-bottom: 32px;
        width: 288px;
        height: 46px;
        margin: 0 auto;
    }
}